{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitSchool - Menu</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

  <!-- Top Bar -->
<header class="topbar">
  <div class="topbar-left">
    <h2 class="logo">FitSchool</h2>
  </div>

  <div class="topbar-right">
    <div class="notification">
      <span class="bell">🔔</span>
      <span class="dot"></span>
    </div>
    <div class="user-info">
      <div class="user-text">
        <h3>{{ user.username }}</h3>
      </div>
    </div>
  </div>
</header>

  <div class="layout">
    <!-- Sidebar -->
    <aside class="user-sidebar">
    <div class="logo">
        <h1>Fitschool</h1>
    </div>
    
    <!-- Usuário -->
    <div class="user-info">
        <div class="avatar">{{ user.username|first|upper }}</div>
        <div class="user-details">
            <h3>{{ user.username }}</h3>
            <p>{{ user.email }}</p>
        </div>
    </div>
    
    <!-- Menu -->
    <ul class="menu">
        <li><a href="{% url 'criar_atleta' %}"><i class="fa-solid fa-plus"></i>Criar Atleta</a></li>
        <li><a href = "{% url 'perfil_usuario' %}"><i class="fas fa-user"></i> Meu Perfil</a></li>
        <li><a href="#" class="active"><i  class="fa-solid fa-table-columns"></i>Dashboard</a></li>
        <li><a href="{% url 'meus_treinos' %}"><i class="fas fa-dumbbell"></i> Meus Treinos</a></li>
        <li><a href="{% url 'frequencia' %}"><i class="fas fa-calendar-check"></i> Frequência</a></li>
        <li><a href="#"><i class="fas fa-bell"></i> Notificações</a></li>
        <li><a href="#"><i class="fas fa-chalkboard-teacher"></i> Professores</a></li>
    </ul>
</aside>

  <main class="menu-content">
  <section class="page-section">
    <div class="hero-card">
      <div class="hero-header">
        <div>
          <h1 class="card-title">Bem-Vindo à FitSchool</h1>
          <p class="card-subtitle">Seu programa de acompanhamento fitness</p>
        </div>
        <div class="hero-actions">
          <!-- espaço para botões ou notificações futuramente -->
        </div>
      </div>
    </div>
  </section>
</main>
